body {
  font-family: "Raleway", sans-serif;
  color: rgb(250, 15, 132);
}

/* Hero Section */

#Hero-Section {
  background-image: url("https://cdn.pixabay.com/photo/2017/07/28/14/23/macarons-2548810__480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
li, a{
  color: rgb(248, 12, 197);

}

/* Mis trabajos */
#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #fff;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }